h3 Add User Data
  br
form(action='/add_user_data', method='post')
  input(type='submit',value='submit')
  br
  br
  br
  br
h3 Add Bills Data
  br
form(action='/add_bills_data', method='post')
  input(type='submit',value='submit')
  br
  br
  br
  br
h3 Get User Data
  br
form(action='/add_user_data', method='get')
  input(type='submit',value='submit')
  br
  br
  br
  br
h3 load table
    br
form(action='/load_table', method='get')
    input(type='submit',value='submit')
    br
    br
    br
    br