<table  class="table table table-bordered">
    <tr>
        <th>Customer Name</th>
        <th>Mobile</th>
        <th>Phone</th>
        <th>Email</th>
        <th>NoOfBills</th>
        <th>Amount</th>
        <th>Avg Amount</th>

    </tr>
    <tr ng-repeat="row in rows">
        <td>{{row.customer_name}}</td>
        <td>{{row.mobile}}</td>
        <td>{{row.phone}}</td>
        <td>{{row.email}}</td>
        <td>{{row.noOfBills}}</td>
        <td>{{row.amount}}</td>
        <td>{{row.avgAmount}}</td>
    </tr>
</table>